:root{
  --logo-color: #4b8ec6;
  --dark-color: #1C2541;
  --signature-color: #E34A6F;
  --winning-color: #5CFFB3;
}



/* General Navbar and footer css */

button{

}






/* Appointments CSS */







/* Login page CSS */