:root{
  --logo-color: #4b8ec6;
  --dark-color: #1C2541;
  --signature-color: #E34A6F;
  --winning-color: #5CFFB3;
}

*{
    /* box-sizing: border-box; */
    font-family: sans-serif;
    padding: 5%;
}

/* General Navbar and footer css */

.navBar{
    display: flex;
    align-items: center;
    background-color: white;
    padding-top: 2rem;
    justify-content: space-between;
}

.firstImage{
    height: 6rem;
    width: 18rem;
    background: url("./images/logo.png");

    background-size: contain;
    background-repeat: no-repeat;
}

.firstImage:hover{
    height: 6rem;
    width: 18rem;
    background-size: contain;
    background: url("./images/logoInverse.png");

}

.navRight{
    display: flex;
    gap: 30px;
    padding-right: 10px;
}

button{
background-color:  var(--logo-color) ;
color: white;
height: 6rem;
width: 6rem;
font-size: 18px;
border: none;
justify-items: space-between;
}

button:hover {
    background-color: var(--dark-color);
    color: white;
  }

/* Appointments CSS */







/* Login page CSS */